.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lower-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-title-containter{
    display:flex;
    justify-content: center;
}

.search-bar-contanier{
    display: flex;
    justify-content: center;
}

.search-bar-full-width{ 
    box-shadow: 0px 0px 0px 0.4px #666;
    padding: 20px;
    width:80%;
    height: auto;
}
.search-bar-input{
    width:100%;
}
.submit-search{
    margin-top:10px;
}
.search-results-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 0px 0.4px #666;
    padding: 10px;
    margin: 10px;

}
.search-results{
    margin: 20px;
    padding: 20px;

}

.movie-card{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.movie-title{
    padding:10px;
}
.movie-year{
    padding:10px;
}
.movie-poster{

    width:50px;
}
.nominations-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 0px 0.4px #666;
    padding: 10px;
    margin: 10px;
}