body{

   background-image: url('./assets/background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

}
.page-container{
    display: flex;
    justify-content: center;
}
.page{
    width:80%;
    height:100vh;
}

.navigation-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.navigation-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navigation-item{
    padding: 10px;
    margin:10px;
    background-color: rgba(145,145,145,0.8);
    
    border-radius: 5px;
}
.navigation-item:hover{
    color: rgb(212,175,55);

    background-color: rgba(145,145,145,0.8);
}

.navigation-link{
    color: gold;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}



.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(145,145,145,1);
    margin: 7% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .modal-title{
    width:100%;
    text-align:center;
  }
  .modal-text{
    width:100%;
    color:blackgold;
    text-align:center;
  }
  .review-submissions-container{
      padding:20px;
      
      display: flex;
      justify-content: center;
  }

  
  /* The Close Button */
  .close {
    color: rgb(156, 0, 40);   
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(156, 60, 40);   

    text-decoration: none;
    cursor: pointer;
  }
.modal-nominations-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.modal-nominations-title{
    width:100%;
    text-align: center;
}
.modal-movie-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 175px;
    position: relative;
}
.modal-movie-title{
    width:100%;
    display:flex;
    justify-content: center;
}
.modal-movie-title p{
    text-align: center;
}
.modal-movie-year{
    width:100%;
    display:flex;
    justify-content: center;
}
.modal-movie-year p{
   text-align: center;
}


.modal-movie-image-container{
    display:flex;
    justify-content: center;
}
.modal-movie-poster{
    width:65px;
}
.modal-remove-container{
    position: absolute;
    top:0;
    right:0;

}
.submit-container{
    display:flex;
    width:100%;
    justify-content: center;
}
.header-image{
    width: 400px;
}
.reviews-and-nominations{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    padding: 20px;
}
.main-title-containter{
    display:flex;
    justify-content: center;
    padding:10px;
    margin-top:15px;
}

.search-bar-contanier{
    width:100%;
    padding: 20px;
    height: auto;

}

.search-bar-input{
    width:100%;
    height:50px;
    border: solid 1px black ;
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 5px;
    padding-left:15px
}
.search-placeholder{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
    margin-right:10px;
    width:50%;
    padding:10px;

}
.search-results-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 0px 0.4px #666;
    margin-top: 20px;
    margin-right:10px;
    width:50%;
    padding:10px;
    background-color: rgba(145,145,145,0.8);
}
.search-results{
    padding: 20px;
    margin: 20px;;
}

.movie-card{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.movie-title{
    padding:10px;
}
.movie-year{
    padding:10px;
}
.movie-poster{
    width:50px;
}
.nominations-container{
    display: flex;
    background-color: rgba(145,145,145,0.8);
    flex-direction: column;
    box-shadow: 0px 0px 0px 0.4px #666;
    margin-top: 20px;
    margin-left:10px;
    width:50%;
    padding:10px;
}
.nominations-placeholder{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left:10px;
    width:50%;
    padding:10px;
}

.button-container{
    display: flex;
    align-items: center;
}

.nominate-btn{
    background-color: gold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;

} 
.nominate-btn:hover{
    background-color: rgb(212,175,55);


}
.remove-btn{
    background-color: rgb(156, 0, 40);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;


}

.remove-btn:hover{
    background-color: rgb(156, 60, 40);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;


}

.button-container .disabled{
    cursor:default;
    opacity: 0.6;
    background-color: gold;

}

.button-container .disabled:hover{
    cursor:default;
    opacity: 0.6;
    background-color: gold;


}
.review-submissions-button, .submit-button{
    padding: 15px;
    margin:10px;
    background-color: rgba(145,145,145,0.8);
    color: gold;
    border-radius: 5px;
    font-size: 15px;
    font-weight:bold;
}
.review-submissions-button:hover, .submit-button:hover{
    color: rgb(212,175,55);
    cursor: pointer;
    background-color: rgba(145,145,145,0.9);
}

.modal-remove-button{
    border:none;
    background-color: rgb(156, 0, 40);
    color: white;
    border-radius: 15px;
    height:18px;
    width:18px;
}

.modal-remove-button:hover{
    background-color: rgb(156, 60, 40);
    cursor: pointer;
}
.selected {
    color: rgb(212,175,55);
    }

    .loading-dots {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .loading-dots div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: gold;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
      }
      .loading-dots div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      .loading-dots div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .loading-dots div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      .loading-dots div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
      @keyframes lds-ellipsis1 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis3 {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(24px, 0);
        }
      }
      @media only screen and (max-width: 600px) {

      html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
      .search-bar-contanier {
        width: 80%;
        padding: 20px;
        height: auto;
      }
      .reviews-and-nominations {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        justify-content: center;
        padding: 20px;
    }
    
    
      .nominations-container{
          width:100%;
          margin-left:0px;
      }
      .search-results-container{
          width:100%;
      }
      .modal-movie-card{
          width:140px
      }
      .modal-movie-poster{
          width:40px
      }
      .movie-title{
          padding-right:5px;
          padding-left:10px;

      }
      .movie-year{
          padding-right:10px;
          padding-left:5px;
      }
    }